<%- include('parts/header') %>

<section class="post">
    <header class="major">
        <h1 class="wor"><%= work.title %></h1>
        <h4 class="wor"><%= work.description %></h4>
        <img src="<%= work.image %>" alt="<%= work.title %>" />
    </header>
</section>

<%- include('parts/footer') %>